<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>

<body>
    <header class="header overlay" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(<%=dataBase[2].imgURL%>)">
        <%- include('navigation') %>
        <div class="text-box">
            <h1 >
                <%=dataBase[2].name %>
            </h1>
        </div>
    </header>
    <section class="section-z">
        <div class="stats">
                <div>
                    <i class="lni lni-users"></i>
                    <p class="lable">Yearly visitors</p>
                    <p class="number">1800+</p>
                </div>
                <div>
                    <i class="lni lni-calendar"></i>
                    <p class="lable">Up-coming</p>
                    <p class="number"><%= dataBase[2].date %> </p>
                </div>

                <div>
                    <i class="lni lni-map"></i>
                    <p class="lable">Starting Point</p>
                    <p class="number"><a href="">Skjeggedal</a></p>
                </div>

                <div>
                    <i class="lni lni-star"></i>
                    <p class="lable">Reviews</p>
                    <p class="number">4.8/5</p>

                </div>
            </div>
    </section>
    <section class="section-d">
        <h3 class="sec-heading">What our customers say about us</h3>
        <div class="grid-container">
            <% for( let x = 0; x < 3; x++ ) { %>
                <div class="review">
                    <div class="profile">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <a href="#" class="user-name"><%= dataBase[2].reviews[x].author %> </a>
                            <a href="#" class="user-tour"><%=dataBase[2].name%></a>
                        </div>
                        <div class="user-rating">
                            <span>
                                <!-- <i class="lni lni-star"></i> -->
                                <% for( let i = 0; i < dataBase[2].reviews[x].stars; i++ ) { %>
                                    <i class="lni lni-star-filled"></i>
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <div class="review-text"><%=dataBase[2].reviews[x].text%></div>
                    <div class="review-date"><%=dataBase[2].reviews[x].date%></div>
                </div>
                <% } %>
        </div>
    </section>

    <section class="section-f">
        <h3>Book a Tour and make your own magical memories</h3>
        <div class="grid-container">
            <div class="img-container">
                <img src="/Assets/Tours/Country-Side-Gallary/1.jpg" alt="">
            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Country-Side-Gallary/2.jpg" alt="">
            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Country-Side-Gallary/3.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Country-Side-Gallary/4.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Country-Side-Gallary/5.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Country-Side-Gallary/6.jpg"alt="">
            </div>
        </div>
        <div class="cta-box">
            <div class="btns">
                <a href="/views/payment.ejs">Book Now</a>
                <a href="">Contact Us</a >
            </div>
        </div>
    </section>

    <%- include('footer') %>




</body>

</html>