<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>

<body>
    <header class="header overlay" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(<%=dataBase[2].imgURL%>)">
        <%- include('navigation') %>
        <div class="text-box">
            <h1 >
                <%=dataBase[2].name %>
            </h1>
            <div>
                <p>Fancy an escape from the stressful city life and work presiour? There's no better destination than Norway's country side villages where you can reconnect with nature at it's best.</p>
            </div>
        </div>
    </header>
    <section class="section-z">
        <div class="stats">
            <div>
                <i class="lni lni-users"></i>
                <p class="lable">Yearly visitors</p>
                <p class="text">This tour is taken by <span>1800+</span> people every year from all around the world.</p>
            </div>
            <div>
                <i class="lni lni-calendar"></i>
                <p class="lable">Up-coming</p>
                <p class="text">The next guided tour is on <span><%= dataBase[2].date%></span> for more info on tour dates contact us.</p>
            </div>

            <div>
                <i class="lni lni-map"></i>
                <p class="lable">Starting Point</p>
                <p class="text"><a href="">Our group assembles in the <span>Lofoten</span> village which is also the finish line.</a></p>
            </div>

            <div>
                <i class="lni lni-star"></i>
                <p class="lable">Reviews</p>
                <p class="text">The <span>4.9/5</span> ratting showes our customer satisfaction with our services.</p>
            </div>
            </div>
    </section>
    <section class="section-d">
        <h3 class="sec-heading">What our customers say about us</h3>
        <div class="grid-container">
            <% for( let x = 0; x < 3; x++ ) { %>
                <div class="review">
                    <div class="profile">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <a href="#" class="user-name"><%= dataBase[2].reviews[x].author %> </a>
                            <a href="#" class="user-tour"><%=dataBase[2].name%></a>
                        </div>
                        <div class="user-rating">
                            <span>
                                <!-- <i class="lni lni-star"></i> -->
                                <% for( let i = 0; i < dataBase[2].reviews[x].stars; i++ ) { %>
                                    <i class="lni lni-star-filled"></i>
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <div class="review-text"><%=dataBase[2].reviews[x].text%></div>
                    <div class="review-date"><%=dataBase[2].reviews[x].date%></div>
                </div>
                <% } %>
        </div>
    </section>

    <section class="section-f">
        <h3>
            Book a Tour and make your own magical memories
        </h3> 
        <div class="grid-container">
            <% for( let i = 0; i < dataBase[2].gallary.length; i++ ) { %>
                <div class="img-container">
                    <img src="<%=dataBase[2].gallary[i].imgURL%>" alt="<%=dataBase[2].gallary[i].alt%>">
                </div>
            <% } %>
        </div>
        <div class="cta-box">
            <div class="btns">
                <a href="/views/payment.ejs">Book Now</a>
                <a href="">Contact Us</a >
            </div>
        </div>
    </section>

    <%- include('footer') %>

</body>

</html>