<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Styles/Main.min.css">
    <title>Norway Tours</title>
</head>

<body>
    <!-- --- Header Section --- -->
    <header id="header">
        <nav id="nav">
            <div id="logo">
                Norway-Tours
            </div>
            <ul id="nav-list">
                <li class="nav-list-item">Tours</li>
                <li class="nav-list-item">Services</li>
                <li class="nav-list-item">Contact</li>
            </ul>
            <div class="buttons">
                <a href="#section-c" class="btn">Sign Up</a>
                <a href="#section-c" class="sec-log-in-btn">log in</a>
            </div>
        </nav>
        <div id="text-box">
            <h1 class="heading-primary">
                <span class="HP-main">outdoors</span>
                <span class="HP-secondary">is where life happens</span>
            </h1>
            <a href="#">Discove our tours</a>
        </div>
    </header>

    <!-- --- Section A --- -->
    <section id="section-a">
        <h2 class="sec-heading">Exciting Tours For Advanturous People</h2>
        <div id="grid-container">
            <div id="text-box">
                <h3>Discover Norway's miracullas nature</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste itaque voluptatibus commodi ut
                    dicta provident amet architecto saepe, repellat nobis illum dolorem nesciunt libero adipisci labore
                    dolores?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste itaque voluptatibus commodi ut
                    dicta provident amet architecto saepe.</p>
                <a href="#">Learn More &rarr;</a>
            </div>
            <div id="img-box">
                <img src="/Assets/Section-A/section-a-2.jpg" alt="Fjiorns">
                <img src="/Assets/Section-A/section-a-3.jpg" alt="Mountains">
            </div>
        </div>
    </section>

    <!-- --- Section B --- -->
    <section id="section-b">
        <h3 class="sec-heading">Make the most out of Norway's heavens</h3>
        <div class="grid-container">
            <%let card=0 %>
                <% for (const tour in dataBase) { %>
                    <figure class="tour-card">
                        <div class="tour-card__img">
                            <img src="<%=dataBase[tour]['imgURL']%>" alt="card image">
                        </div>
                        <div class="tour-card__title">
                            <%=dataBase[tour]['name']%>
                        </div>
                        <ul class="tour-card__features">
                            <% for (const feature in dataBase[tour]['features']){%>
                                <li class="tour-card__features__feature">
                                    <%= dataBase[tour]['features'][feature] %>
                                </li>
                                <% } %>
                        </ul>
                        <div class="tour-card__button">
                            <a href="/payment">Book Now</a>
                            <a href="/tour">Details</a>
                        </div>
                    </figure>
                    <% card+=1 %>
                        <% if (card===3) {%>
                            <% break %>
                                <%} %>
                                    <% } %>
        </div>
        <a href="/tours">Discover All Tours</a>
    </section>

    <section id="section-d">
        <h3 class="sec-heading">Make the most out of Norway's heavens</h3>
        <%- include('review-section') %> 
    </section>
    
    <!-- --- Section C --- -->
    <section id="section-c">
        <div class="grid-container">
            <div class="img-box">
                <h3>Let's embark on a life-changing journy!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ut tenetur nemo amet aliquam quis
                    deserunt corporis accusamus repellendus eaque, exercitationem nulla. Provident placeat natus minus
                    maiores dolor? Ducimus, doloremque.</p>
            </div>
            <div class="form-box">
                <%- include ('sign-up-form') -%>
                    <%- include ('log-in-form') -%>
            </div>
        </div>
    </section>
<%- include('footer') -%> 








    <script src="Scripts/app.js"></script>
</body>

</html>