<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <header class="header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(<%=dataBase[0].imgURL%>)">
        <%- include('navigation') %>
            <div class="text-box">
                <h1><%=dataBase[0].name %></h1>
                <div>
                    <p>In a 5-day long mountain hike, You get to explore one of Norway's most spectaculare hiking trails, the <span>Trolltunga Trail</span>.<br>Through this 300km long trail you will experiance the wilderness of th hiker's life through camping, mountain-climing, hunting, fishing and much more.</p>
                </div>
            </div>
    </header>

    <section class="section-z">
        <div class="stats">
                <div>
                    <i class="lni lni-users"></i>
                    <p class="lable">Yearly visitors</p>
                    <p class="number">1800+</p>
                </div>
                <div>
                    <i class="lni lni-calendar"></i>
                    <p class="lable">Up-coming</p>
                    <p class="number"><%= dataBase[0].date %> </p>
                </div>

                <div>
                    <i class="lni lni-map"></i>
                    <p class="lable">Starting Point</p>
                    <p class="number"><a href="">Skjeggedal</a></p>
                </div>

                <div>
                    <i class="lni lni-star"></i>
                    <p class="lable">Reviews</p>
                    <p class="number">4.8/5</p>

                </div>
            </div>
    </section>

    <section class="section-d">
        <h3 >What our customers say about us</h3>
        <div class="grid-container">
            <% for( let x = 0; x < 3; x++ ) { %>
                <div class="review">
                    <div class="profile">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <a href="#" class="user-name"><%= dataBase[0].reviews[x].author %> </a>
                            <a href="#" class="user-tour"><%=dataBase[0].name%></a>
                        </div>
                        <div class="user-rating">
                            <span>
                                <!-- <i class="lni lni-star"></i> -->
                                <% for( let i = 0; i < dataBase[0].reviews[x].stars; i++ ) { %>
                                    <i class="lni lni-star-filled"></i>
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <div class="review-text"><%=dataBase[0].reviews[x].text%></div>
                    <div class="review-date"><%=dataBase[0].reviews[x].date%></div>
                </div>
                <% } %>
        </div>
    </section>

    <section class="section-f">
        <h3>Book a Tour and make your own magical memories</h3>
        <div class="grid-container">
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/1.jpg" alt="">
            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/2.jpg" alt="">
            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/3.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/4.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/5.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/6.jpg"alt="">
            </div>
        </div>
        <div class="cta-box">
            <div class="btns">
                <a href="/views/payment.ejs">Book Now</a>
                <a href="">Contact Us</a >
            </div>
        </div>
    </section>

    <%- include('footer') %>




</body>

</html>