<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <header class="header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(<%=dataBase[0].imgURL%>)">
        <%- include('navigation') %>
            <div class="text-box">
                <h1>
                    <%=dataBase[0].name %>
                </h1>
                <div>
                    <p>Aurora or the Polar lights, whatever you call it, we provide the best experiance for one of nature's most mesmerizing scenery. Our privet observatory in <span><%=dataBase[0].features.destination %></span> offers the best view for an unforgetable scen and, the best equepment to capture the moment and share it with your friends. </p>
                </div>
            </div>
    </header>

    <section class="section-z">
        <div class="stats">
            <div>
                <i class="lni lni-users"></i>
                <p class="lable">Yearly visitors</p>
                <p class="text">This tour is taken by <span>2500+</span> people every year from all around the world.</p>
            </div>
            <div>
                <i class="lni lni-calendar"></i>
                <p class="lable">Up-coming</p>
                <p class="text">The next guided tour is on <span><%= dataBase[0].date%></span> for more info on tour dates contact us.</p>
            </div>

            <div>
                <i class="lni lni-map"></i>
                <p class="lable">Starting Point</p>
                <p class="text"><a href="">Our group assembles in the <span>Narvik</span> city near the observation site.</a></p>
            </div>

            <div>
                <i class="lni lni-star"></i>
                <p class="lable">Reviews</p>
                <p class="text">The <span>5/5</span> ratting showes our customer satisfaction with our services.</p>
            </div>
            </div>
    </section>

    <section class="section-d">
        <h3 >What our customers say about us</h3>
        <div class="grid-container">
            <% for( let x = 0; x < 3; x++ ) { %>
                <div class="review">
                    <div class="profile">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <a href="#" class="user-name"><%= dataBase[0].reviews[x].author %> </a>
                            <a href="#" class="user-tour"><%=dataBase[0].name%></a>
                        </div>
                        <div class="user-rating">
                            <span>
                                <!-- <i class="lni lni-star"></i> -->
                                <% for( let i = 0; i < dataBase[0].reviews[x].stars; i++ ) { %>
                                    <i class="lni lni-star-filled"></i>
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <div class="review-text"><%=dataBase[0].reviews[x].text%></div>
                    <div class="review-date"><%=dataBase[0].reviews[x].date%></div>
                </div>
                <% } %>
        </div>
    </section>

    <section class="section-f">
        <h3>Book a Tour and make your own magical memories</h3>
        <div class="grid-container">
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/1.jpg" alt="">
            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/2.jpg" alt="">
            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/3.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/4.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/5.jpg" alt="">

            </div>
            <div class="img-container">
                <img src="/Assets/Tours/Light-chase-Gallary/6.jpg"alt="">
            </div>
        </div>
        <div class="cta-box">
            <div class="btns">
                <a href="/views/payment.ejs">Book Now</a>
                <a href="">Contact Us</a >
            </div>
        </div>
    </section>

    <%- include('footer') %>




</body>

</html>