<div class="grid-container">
    <% for( let x = 0; x < 3; x++ ) { %>
    <div class="review">
        <div class="profile">
            <div class="user-img">
                <img src="<%= dataBase[x].reviews[0].profile %> " alt="">
            </div>
            <div class="user-info">
                <a href="#" class="user-name"><%= dataBase[x].reviews[0].author %> </a>
                <a href="#" class="user-tour"><%=dataBase[x].name%></a>
            </div>
        </div>
        <div class="review-text"><%=dataBase[x].reviews[0].text%></div>
        <div class="container">
            <div class="review-date"><%=dataBase[x].reviews[0].date%></div>
            <div class="user-rating">
                
                <span>
                    <!-- <i class="lni lni-star"></i> -->
                    <% for( let i = 0; i < dataBase[x].reviews[0].stars; i++ ) { %>
                        <i class="lni lni-star-filled"></i>
                    <% } %>
                </span>
            </div>
            
        </div>
    </div>
    <% } %>
</div>